<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantech</title>
    <link rel="stylesheet" href="../CSS/carrito.css">
</head>
<body>
    <header class="head">
        <nav class="arriba">
          <img
            class="Logo"
            src="../RECURSOS/Imagen2.png"
            alt=""
            title="Logo de la empresa"
          />
          <a href="../VIEW/index_principal.html"><b>Inicio</b></a>
          <a href="../VIEW/Login2.html"><b>Iniciar sesión</b></a>
          <a href="../VIEW/Registro.html"><b>registrarse</b></a>
          <a href="../VIEW/Quienessomos.html"><b>Quiénes somos</b></a>
        </nav>
      </header>
      <div class="page-content">
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$200</h1>
              <button class="button-add"  >Agregar</button>
          </div>
      
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$100</h1>
              <button class="button-add"  >Agregar</button>
          </div>
      
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add"  >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$500</h1>
              <button class="button-add" >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add"  >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add"  >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add"  >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add" >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add" >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add" >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add" >Agregar</button>
          </div>
          <div class="product-container">
              <h3>nombre</h3>
              <img src=" " />
              <h1>$650</h1>
              <button class="button-add" >Agregar</button>
          </div>
</body>
</html